# 1. map 함수
- 함수에 전달인자로 적용할 함수와 1차원벡터(꼭 시리즈 아니어도 됨)를 넣어준다.
- map(function, 1차원벡터)
- 그러면 벡터의 원소하나씩 뽑아다가 함수에 넣어주는 방식으로 계산

In [36]:
f1 = lambda x : '%03d' %x
pp(map(f1, df1['b'])) #map object란다~
list(map(f1, df1['b']))

<map object at 0x7f4137458a58>

['017', '086', '052', '068']

In [37]:
pp(df1.loc[0]) # iloc(인덱스번호이용)랑 loc(라벨명이용)모두 행을 뽑는 메서드!
pp(df1.iloc[0,0]) # 물론 특정 변량을 뽑을 수도 있다.
pp(df1.loc[0,'a'])

a      1
b     17
c    134
Name: 0, dtype: int64
1
1

# 2. map 메서드
- 다른 1차원벡터는 안되고 시리즈의 메서드!
- 시리즈.map(function) 
- 시리즈의 요소값을 하나씩 뽑아서 연산해서 돌려준다. 
- 리턴 타입은 처음에 적용했던 1차원 벡터의 타입과 동일하게 당근 시리즈!

In [38]:
df1['b'].map(f1)

0    017
1    086
2    052
3    068
Name: b, dtype: object

In [39]:
c = [18,89,1]
c.map(f1)   # 리스트에다가 대고 메서드 호출 못함!

AttributeError: 'list' object has no attribute 'map'

In [40]:
c = [18,89,1]
list(map(f1, c)) # map 함수는 리스트에도 적용 가능!

['018', '089', '001']

# 3. apply 메서드
- 데이터프레임.apply(function, axis=0/1) -> 2차원 넘파이 어레이는 이런 메서드 없음!
- 시리즈를 하나씩 뽑아서 함수에 전달해줌!
- 주로 그룹함수와 함께 사용
- 리턴 타입 : 시리즈

In [41]:
df1

   a   b    c
0  1  17  134
1  3  86  874
2  7  52  592
3  4  68  246

In [42]:
f2 = lambda x : x.max() - x.min()
pp(df1.apply(f2)) # axis=0 : 열을 하나씩 뽑아서 함수에 넣어줌!(디폴트)
pp(df1.apply(f2, axis = 1)) # axis = 1 : 한 행씩 뽑아서 함수에 넣어줌!
type(df1.apply(f2)) # 리턴타입은 시리즈

a      6
b     69
c    740
dtype: int64
0    133
1    871
2    585
3    242
dtype: int64

pandas.core.series.Series

In [43]:
arr = np.array([[1,2,3],[4,5,6]])
arr

array([[1, 2, 3],
       [4, 5, 6]])

In [44]:
pp(arr.apply(f2, axis = 1)) # 오류!

AttributeError: 'numpy.ndarray' object has no attribute 'apply'

# 4. applymap 메서드
- 데이터프레임.applymap(function)
- 데이터프레임의 원소(스칼라)를 하나씩 뽑아다가 함수에 전달해줌!
- 리턴 타입 : 데이터프레임

In [45]:
df1.applymap(f1)

     a    b    c
0  001  017  134
1  003  086  874
2  007  052  592
3  004  068  246

# 람다 표현식 
- 식별자(함수 이름)없이 실행 가능한 함수를 말하며, 함수 선언없이도 하나의 식으로 함수를 단순하게 표현할 수 있다. 
- 함수를 전달인자로서 줄 때 많이 사용하며, 이때 전달되는 값이 무엇인지 잘 파악해야 한다.

In [3]:
def func(x) :
    return x.split()[1], x.split()[0]

type(func(x= "3 a"))

tuple

In [4]:
l = ["2 a", "1 b", "4 b", "1 a"]

l.sort(reverse = False, key = lambda x : (x.split(" ")[1], x.split(" ")[0]))
l

['1 a', '2 a', '1 b', '4 b']